<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container circle-slider-bg">
                <div class="w-100">
                    <div class="row py-5">
                        <div class="col-lg-8 py-md-5 py-lg-7 overlay-content">
                            <h5 class="text-uppercase text-muted mb-3 letter-spacing-5">
                                Special
                            </h5>
                            <h2 class="mb-3">
                                Autumn-color coates
                            </h2>
                            <p class="lead mb-4">
                                Lorem ipsum dolor, sit amet
                                <br>
                                consectetur adipisicing elit. Saepe dolore
                            </p>
                            <p>
                                <a href="" class="btn btn-outline-dark text-uppercase">
                                    View collection
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container circle-slider-bg">
                <div class="w-100">
                    <div class="row py-5">
                        <div class="col-lg-8 py-md-5 py-lg-7 overlay-content">
                            <h5 class="text-uppercase text-muted mb-3 letter-spacing-5">
                                Special
                            </h5>
                            <h2 class="mb-3">
                                Autumn-color coates
                            </h2>
                            <p class="lead mb-4">
                                Lorem ipsum dolor, sit amet
                                <br>
                                consectetur adipisicing elit. Saepe dolore
                            </p>
                            <p>
                                <a href="" class="btn btn-outline-dark text-uppercase">
                                    View collection
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container circle-slider-bg">
                <div class="w-100">
                    <div class="row py-5">
                        <div class="col-lg-8 py-md-5 py-lg-7 overlay-content">
                            <h5 class="text-uppercase text-muted mb-3 letter-spacing-5">
                                Special
                            </h5>
                            <h2 class="mb-3">
                                Autumn-color coates
                            </h2>
                            <p class="lead mb-4">
                                Lorem ipsum dolor, sit amet
                                <br>
                                consectetur adipisicing elit. Saepe dolore
                            </p>
                            <p>
                                <a href="" class="btn btn-outline-dark text-uppercase">
                                    View collection
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
